doctype html
html
  head
    title OSM Nearby Notes Viewer
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css")
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css")
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js")
  body
    input#get-near-notes(type="button" value="地図メモの取得・表示")
    section#container
      div#note-list
      div#map(style="width:700px;height:700px")
    script(src="js/main.js")
    template#note-content
      section.note
        .note-info
          span.create-date
            time
          span.modified-date
            time
          span.status
          .comment-list
          form
            label(for="changeNoteStatus") メモの状態の変更
            select#changeNoteStatus
              option(value) 変更しない
              option(value="closed") 解決
              option(value="reopened" disabled="disabled") 再開
            label(for="addNoteComment") コメント
              textarea#addNoteComment
          button 送信
    template#comment-content
      article.comment
        .comment-info
          span.user-osm-page
            a
          span.submit-date
            time
          span.user-action
        p.commentText
