doctype html
html
	head
		title OSM Nearby Notes Viewer
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js")
	body
		input#get-japan-notes(type="button")
		script(src="js/coordinate-calc.js")
		script(src="js/main.js")