#note-list {
  flex: 1;
  section + section{
    border-top : 1px solid;
  }
}

#note-map-container {
  display: flex;
}

#leaflet-wrapper {
  height: 700px;
  width: 700px;
  position: relative;
}

#leaflet-container {
  height: 700px;
  width: 700px;
  position: absolute;
  top : 0;
  left: 0;
}

.note-info > span + span {
  margin-left: 1rem;
}

.comment-list {
  counter-reset: noteComment;
  article.comment::before {
    counter-increment: noteComment;
    content: counter(noteComment);
    width: 2rem;
    font-weight: 900;
    text-align: right;
  }

  article.comment {
    display: flex;
    flex-flow: row wrap;
    .comment-info {
      flex: 1;
      span {
        padding-left: 1rem;
      }
    }
    .commentText {
      word-wrap: break-word;
      width: 100%;
      padding-left: 3rem;
    }
  }
}